{{#section 'css'}}
    <style>
        img { padding: 60px; margin: auto; display: flex; width: 50%; }
    </style>
{{/section}}

{{#section 'script'}}
{{/section}}
<main>
    <a href="/zipcode">
        <img src="/img/smile.png">
    </a>

</main>