{{#section 'css'}}
{{/section}}

{{#section 'script'}}
    <script src="/js/zipcode.js"></script>
    <script>
        let sido = document.querySelector('#sido');
        {{#if sido}}
        // 서버에서 넘겨받은 값 셋팅. 서버가 sido가 넘어왔을 때
         document.querySelector('#sido').value='{{sido}}';
        {{/if}}
    </script>

{{/section}}
<main>
    <h1>시군구동 찾기</h1>
    <div>
        <select name="sido" id="sido">
            <option>-- 시도 --</option>
            {{#sidos}}
            <option>{{sido}}</option>
            {{/sidos}}
        </select>
        <select name="gugun" id="gugun">
            <option>-- 시군구 --</option>
        {{#guguns}}
            <option>{{gugun}}</option>
        {{/guguns}}
        </select>
        <select name="dong" id="dong">
            <option>-- 읍면동 --</option>
        {{#dongs}}
            <option>{{dong}}</option>
        {{/dongs}}
        </select>
    </div>
</main>